.sidenav-section {
  background-color: grey;
  color: white;
  min-width: 13em;
  text-align: center;
}

.content-section {
  min-height: 61em;
  background-color: white;
  background-position: cover;
  background-size: cover;
  position: relative;
  color: black;
}
