<app-header-toolbar></app-header-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<mat-sidenav-container>
  <!-- 左側選單 -->
  <mat-sidenav #sideNav mode="side" opened="true" class="sidenav-section">
    <!-- <div>
      <button
        mat-raised-button
        color="warn"
        (click)="getSideNavStatus(sideNav)">
        關閉選單
      </button>
    </div> -->
    <!-- 選單內容 -->
    <mat-accordion multi="false" displayMode="flat">
      <mat-expansion-panel *ngFor="let sideNav of sideNavList" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="matPanelSymbol">
              <mat-icon>{{ sideNav.pageIcon }}</mat-icon>
            </div>
            <div class="matPanelText">{{ sideNav.pageName }}</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="{{ child.pageUrl }}" *ngFor="let child of sideNav.childPages">
            <li [ngClass]="{'focus': checkRouterUrl(child.pageUrl) }">{{ child.pageName }}</li>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <!-- 右側內容 -->
  <mat-sidenav-content>
    <!-- 左選單縮放按鈕 -->
    <div>
      <button mat-button color="warn" (click)="sideNav.toggle()">
        <mat-icon>menu</mat-icon>選單收合
      </button>
    </div>
    <div class="content-section">
      <app-main></app-main>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
