<footer class="site-footer">
  <div class="container">
    <!-- <div class="row">
      <div class="col-md-4 mb-3">
        <p class="mb-3"></p>
        <h3>About Us</h3>
        <p>公司</p>
        <p>單位</p>
        <ul class="list-unstyled footer-link d-flex footer-social">
          <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
          <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
          <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
          <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
        </ul>
      </div>
      <div class="col-md-5 mb-5 pl-md-5">
        <p class="mb-3"></p>
        <h3>聯絡資訊</h3>
        <p>地址: 地址</p>
        <p>電話: 091 234 5678</p>
      </div>
      <div class="col-md-3 mb-5">
        <p class="mb-3"></p>
        <h3>Quick Links</h3>
        <ul class="list-unstyled footer-link">
          <li><a routerLink="/login">首頁</a></li>
          <li><a routerLink="/login">AAA</a></li>
          <li><a routerLink="/login">BBB</a></li>
        </ul>
      </div>
    </div> -->
    <div class="row">
      <div class="col-12 text-md-center text-left">
        <p class="mb-3"></p>
        <h3>Copyright 2022 &copy; JHying All rights reserved</h3>
      </div>
    </div>
  </div>
</footer>
<!-- END footer -->
