<div class="card">
  <div class="card-body">
    <div class="row justify-content-center mb-5"></div>
    <div class="row justify-content-center mb-6">
      <img src="../../assets/img/personal.png" class="image" alt="avatar"/>
    </div>
    <div class="row justify-content-center mb-5"></div>
    <div class="row justify-content-center mb-6">
      <h1><b>帳戶資訊</b></h1>
    </div>
    <div class="row justify-content-center mb-5"></div>
    <div class="row justify-content-center mb-6">
      <div class="col-md-1 mx-auto"><h2><b>帳戶</b></h2></div>
      <div class="col-md-2 mx-auto"><h2>{{userInfo.userId}}</h2></div>
    </div>
    <mat-divider></mat-divider>
    <div class="row justify-content-center mb-6">
      <div class="col-md-1 mx-auto"><h2><b>姓名</b></h2></div>
      <div class="col-md-2 mx-auto"><h2>{{userInfo.userName}}</h2></div>
    </div>
    <mat-divider></mat-divider>
    <div class="row justify-content-center mb-6">
      <div class="col-md-1 mx-auto"><h2><b>角色</b></h2></div>
      <div class="col-md-2 mx-auto"><h2>{{userInfo.roles}}</h2></div>
    </div>
    <mat-divider></mat-divider>
    <div class="row justify-content-center mb-5"></div>
  </div>
</div>
